<%- include("header") -%>
<table class="table_decor">
	<thead>
	  <tr>
	    <td>S.N</td>
	    <td>Municipality</td>
	    <td>Total Cases</td>
	    <td style="color:green;">Recovered</td>
	  </tr>
	</thead>
	<%let serial = 1%>
	<%data.forEach(function (item, index){ %>
	<tr>
	  <td><%=serial %></td>
	  <td><%=item.title%></a></td>
	  <td><%=item.total_cases%></td>
	  <td style="color:green;"><%=item.recovered%></td>
	</tr>
	<% serial += 1 %>
	<% }) %>
      </table>      
<%- include("footer") -%>
